body {
  background: #000;
  overflow: hidden;
  margin: 0;
}
h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.name {
  top: 50px;
  color: aqua;
}
.time {
  width: 100%;
  bottom: 10%;
  color: aqua;
}
.timeText {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.timeText p {
  text-align: center;
  width: 50px;
}